<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <h1>Generador de tickets</h1>
        </div>
        <div class="card-body">
            {{#if Cliente}}
            <ul class="list-group">
                {{#each Cliente}}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{@key}}
                    {{Nombre}}
                    {{Apellido}} / 
                    {{Inconveniente}}
                    <a href="/delete-Cliente/{{@key}}" class="btn btn-danger">Terminar</a>
                </li>
                {{/each}}
            </ul>
            {{else}}
                <p>No Cliente Yet.</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="/new-Cliente" method="POST">
                <div class="form-group">
                    <input type="text" name="Nombre" placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="Apellido" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="Inconveniente" placeholder="Inconveniente" class="form-control">
                </div>
                <div class="form-group">
                    <input type="tel" name="phone" placeholder="Phone" class="form-control">
                </div>
                <button class="btn btn-primary btn-block">
                    Agregar
                </button>
            </form>
        </div>
    </div>
</div>